@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    font-size: 1.2em;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --body: hsla(45, 29%, 97%, 0.5);
    --shadow: hsl(225, 13%, 87%);
    --link-color: hsl(0, 0%, 0%);
    --link-hover-color: hsla(224, 96%, 61%, 0.8);
    --header-link-bg: #0076d1;
    --header-link-color: hsl(0, 0%, 100%);
    --header-link-bg-hover: hsl(206, 100%, 36%);
    --input-border: hsl(0, 0%, 82%);
    --animate-duration: 0.5s;
    
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background: var(--body);
}

.wrapper {
    margin: 0 auto;
    max-width: 1068px;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: end;
}

.nav .navlink + .navlink  {
    margin-left: 1.5em;
}

.nav-home {
    margin-right: auto;
    font-family: Savate,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0076d1;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.5ch;
}

header {
    text-align: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.top {
    color: var(--header-link-bg);
    margin: 0;
}

.name-intro {
    margin: 0.5em 0 0;
}

header .project {
    border-radius: 0.8em;
    border: 0;
    background-color: var(--header-link-bg);
    transition: background-color 0.2s linear;
}

header a {
    display: block;
    width: 100%;
    padding: 0.7em 0.8em;
    cursor: pointer;
    color: var(--header-link-color);
}

header a:hover {
    color: var(--header-link-color);
}

header .project:hover  {
    background-color: var(--header-link-bg-hover);
}

 .header {
        flex: 1;
    }

.profile {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    clip-path: circle(45.8% at 50% 48%);
    background: linear-gradient(180deg,transparent 0%, #ffffff 46%, var(--header-link-bg) 100%);;
    border: 0;
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--body);
} 

p {
    font-weight: 200;
    line-height: 2;
}

#project {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;
    padding: 1em;
    display: block;
    font-weight: 500;
    text-align: left;
    transition: color 0.2s linear;
}

a:hover {
    color: var(--link-hover-color);
}

.tech {
    list-style-type: circle;
    padding: 0;
    font-weight: 200;
    font-size: 0.75rem;
}

ul {
    display: flex;
    flex-direction: row;
     padding: 0;
}

li {
    list-style: none;
    font-size: 0.75rem;
   
}

li + li {
    margin-left: 1.5em;
}

.contact {
    max-width: 450px;
    margin: 3em auto 1em ;
    text-align: center;
}

#contact-form {
    display: grid;
    gap: 1.5em;
    width: 100%;
}

.contact-fields {
    width: 100%;
}

input:not([type='checkbox']):not([type= 'radio']), textarea {
    display: block;
    width: 100%;
    padding: 0.4rem 1.6rem;
    border-radius: 0.5em;
    border: 1px solid var(--input-border);
    
}

.input {
  transition: border-color 0.3s ease;
}

.error-border {
  border-color: red;
  background-color: #ffe5e5;
}

.button {
    display: flex;
    justify-content: end;
}

.submit {
    border-radius: 0.8em;
    padding: 0.7em 1.2em;
    border: 0;
    grid-column: 2 / -1;
    color: var(--header-link-color);
    background-color: var(--header-link-bg);
    transition: background-color 0.2s linear;
}

.submit:hover {
    color: var(--header-link-color);
    background-color: var(--header-link-bg-hover);
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  display: block;
}

input:invalid,
textarea:invalid {
  border-color: red;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    margin: 0.5em 0;
}

.icons >li + li {
    margin-left: 0;
}

.footer-note {
    font-size: 0.5rem;
}

svg {
    width: 2em;
    height: 2em;
    color: black;
}

@media (min-width: 768px) {
    :root {
        font-size: 1em;
    }
   
    .wrapper {
        padding: 0 0.75rem;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 5.5rem;
        right: 5.5rem;
        z-index: 20;
        background-color: #FAF9F6;
        
    }

    .nav {
        margin: 0;
    }

    .ham {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        max-width: 768px;
        margin: 0 auto;
    }
    
    header {
        flex-direction: row;
        align-items: center;  
        position: sticky;
        top: 0;
        background-color: var(--body);
        z-index: 1;

    }

    .profile {
        margin-top: 0;
        margin-left: 1em;
    }

    .profile-img {
        width: 400px;
        height: 400px;
    }

    .container {
        background-color: #FAF9F6;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    footer {
        background-color: #FAF9F6;
    }
   

    .contact {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
   body {
    overflow-x: hidden;
   }
   
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        background-color: hsla(45, 29%, 97%, 1);
        box-shadow: 0.1em 0.1em 1em var(--shadow);
    }

    .ham {
       
        padding: 0.2rem 0.9rem;
    }
    
    .nav {
        display: block;
        margin: 0;
        width: 40%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in, visibility 0.2s ease-in 0.1s;
        position: absolute;
        top: 2.4rem;
        z-index: 10;
    }

    .nav .navlink + .navlink {
        margin-left: 0;
    }

    .nav > li + li {
        margin-left: 0;
    }

    .nav-home {
        margin-right: 0;
    }

    .nav a {
        text-align: left;
        background-color: hsla(45, 29%, 97%, 1);
        border: 1px solid var(--input-border);
    }

    .nav.reveal {
        visibility: visible;
        opacity: 1;
    }

    .top {
        margin-top: 1rem;
    }

}